<div class="button" ng-click="main.showSidebar = true"></div>
<div class="sidebar"
     ng-if="main.showSidebar"
     action-on-click-outside="main.showSidebar = false"
><span></span></div>

<address-list items="main.awesomeThings"
              action="open(item)"
><h3>awasome thing {{item.title}}</h3></address-list>
<my-tabs>
    <my-tab name="x">First tab</my-tab>
    <my-tab name="y">Second tab</my-tab>
</my-tabs>

<div class="button2" ng-click="main.showSidebar2 = true"></div>
<div class="sidebar2"
     ng-if="main.showSidebar2"
     action-on-click-outside="main.showSidebar2 = false"
><span><button ng-click="main.showPopup()">Show Popup</button></span></div>